@import '../../Vars.scss';

.categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 1000px;
}

.categories-item {
  font-size: 12px;
  color: $grey-meli;
}

.categories-item-bold {
  font-size: 12px;
  color: $grey-meli;
  font-weight: bold;
}
