@import '../../Vars.scss';

.header {
  background-color: $yellow-meli;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 62px;
}

.header-logo {
  height: 36px;
  width: 53px;
  margin: 0px 16px 0px 0px;
  &:hover {
    cursor: pointer;
  }
}

.header-search {
  color: $grey-meli;
  background-color: #fff;
  height: 36px;
  width: 893px;
  font-size: 18px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-indent: 20px;
}

.button-search {
  background-color: $background-meli;
  height: 38px;
  width: 38px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}
