@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$theme-font: 'Muli', sans-serif;

$background-meli: #eee;
$grey-meli: #999;
$grey-dark-meli: #666;
$black-meli: #333;
$yellow-meli: #ffe600;
$button-meli: #3483fa;
