@import '../../Vars.scss';

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-meli;
}

.card-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  width: 1000px;
  height: 212px;
}

.card-image {
  height: 180px;
  width: 180px;
  border-radius: 4px;
  padding: 16px 16px 16px 16px;
  &:hover {
    cursor: pointer;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-price {
  padding: 32px 16px 32px 16px;
  font-size: 24px;
  &:hover {
    cursor: pointer;
  }
}

.card-free {
  height: 24px;
  width: 24px;
  padding-left: 10px;
  vertical-align: top;
}

.card-title {
  font-size: 18px;
  padding-left: 16px;
}

.card-condition {
  font-size: 18px;
  padding-left: 16px;
}

.card-sold {
  margin-left: auto;
  padding: 50px 50px 0px 0px;
  font-size: 12px;
  color: $grey-meli;
}
